
.col-lg-2{
  background-color: #F9F9F9;
  position: fixed;
  margin-top: 10px;
  height: 100%;
}
.col-lg-8{
  background-color: #F9F9F9 ;
  position: fixed;
  left: 220px;
  width: 83%;
  height: 100%;
  margin-left: 10px;
  margin-top: 10px;
  overflow: auto;
}
.Specials{
  margin-left: 10px;
  font-size: 18px;
}
img{
  width: 200px;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.text{
  margin-top: 50px;
}
